* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis:50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 110%;
    padding: 80px 0px;
    padding-left: 15%;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #4eb3d8;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #e66b6b ;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
    margin-top: 70px;
}

.products{
    margin: 50px 0;
}

.col-4{
    flex-basis: 25%;
    padding: 30px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.3s;
}

.col-4 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.title{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 50px;
    color: #555;
}

.title::after{
    content: '';
    background: #e66b6b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}

.rating .fa{
    color: #e66b6b;
}

.featured{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 40px;
    padding: 10px 0;
}

.col-2 .featured-img{
    padding: 100px;
}

small{
    color: #555;
}

.brands{
    margin: 100px auto;
}

.col-6{
    width: 130px;
}

.col-6 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-6 img:hover{
    filter: grayscale(0);
}

.footer{    
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 40px 0 20px;
}

.footer p{
    color: #fff;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 33%;
}

.footer-col-2{
    flex: 30%;
    text-align: center;
}

.footer-col-2 img{
    width: 250px;
    height: 60px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #B5B5B5;
    height: 1PX;
    margin: 20PX 0;
}

.copyright{
    text-align: center;
}

@media only screen and (max-width: 600px) {
        .logo-img{
            display: none;
        }
        .MenuItems{
            align-items: stretch;
        }
}

.about-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.about-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-col-2{
    flex-basis:50%;
    min-width: 250px;
}

.about-col-2 img{
    max-width: 120%;
    padding: 100px 0px;
    padding-left: 20%;
    padding-top: 25%;
}


.contact{
    padding-left: 40px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .form{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 50px;
  }

.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50%;
}
.prod-container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 200px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: #FF9F00;
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

/* Camera details */
.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 30px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 48%;
    cursor: pointer;
}

.stock{
    color: red;
}

table{
    table-layout: fixed;
    width: 90%;
}

table {
    margin-bottom: 50px;
  }
  
th {
    height: 40px;
  }

td{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

tr:hover {background-color: #4eb3d8;}